<!DOCTYPE html>
<html lang="en">

<%- include('includes/head') %>

<body>

    <%- include('includes/navbar') %>    

    <% if (user) { %>
      <h1>Bem vind@ <%= user.nome %></h1>
    <% } %>

    <h1>Lista de todos os filmes</h1>

    <table id="filmes">
        <tr>
          <th>ID</th>
          <th>Nome</th>
          <th></th>
        </tr>
        <tr>
          <td>AAA</td>
          <td>TESTE AAA</td>
          <td>Ver detalhes</td>
        </tr>
        <% result.forEach(result => { %>
          <tr>
            <td><%= result.id %></td>
            <td><%= result.nome %></td>
            <td> <a href="/filmes/<%= result.id %>"> Ver detalhes </a> </td>
          </tr>
        <% }) %>
    </table>
</body>

</html>